# Dependencias
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# Entorno
.env
.env.local
*.local

# Build
dist/
build/
out/

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
